.img-bg {
    margin-top: 1em;
}

#container-nav {
    margin-bottom: .2em;
}
label{
    margin-top: 1em;
}

h5 {
    padding-top: .2em;
}

.container {
    padding-bottom: .2em;
}

.col-sm-4{
    padding: .2em;
}

.result{
    padding-top: 1em;
    padding-left: 0;
}

video{
    padding-left: 0;
}