{% extends "layout.html" %}

{% block content %}

  {% if webcam %}
        <div class="container">
            <div id="status" class="p-3 mb-2 bg-warning text-dark">
                Falha na conexão. Alguém esta usando o socket.
            </div>
            <img id="frame" src="">
        </div>

        <script>
            let ws = new WebSocket("ws://localhost:8000/ws");
            let image = document.getElementById("frame");
            image.onload = function(){
                URL.revokeObjectURL(this.src); // release the blob URL once the image is loaded
                warning = document.getElementById("status");
                warning.innerHTML = "";
                warning.classList.remove("bg-warning");

            }
            ws.onmessage = function(event) {
                image.src = URL.createObjectURL(event.data);
            };
        </script>

  {% endif %}

{% endblock %}